.hotel-rating-container{

min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:30px;
background:#f4f7fb;

}


.hotel-card{

width:350px;
background:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 8px 20px rgba(0,0,0,0.2);

}


.hotel-image{
    width:100%;
    height:230px;
    object-fit:cover;
}



.hotel-content{

padding:20px;
text-align:center;

}



.stars{

margin:15px 0;

}


.star{

font-size:35px;
color:#ccc;
cursor:pointer;

}


.star.active{

color:#ffc107;

}



.book-btn{

width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#0d6efd;
color:white;
font-size:18px;
cursor:pointer;

}



.book-btn:hover{

background:#084298;

}



@media(max-width:600px){

.hotel-card{

width:90%;

}

}